<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Keep Calm_TargetDir=$(var.Keep Calm.TargetDir)?>
  <Product Id="*" Name="Keep Calm" Language="1033" Version="1.0.0.0" Manufacturer="Stealth22" UpgradeCode="c6112c4a-a598-4b88-88c1-0ca7a3aac3be">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="RETAILDIR">
      <RegistrySearch Id="InstallPathRetail" Root="HKLM" Key="Software\Rockstar Games\Grand Theft Auto V" Name="InstallFolder" Win64="no" Type="raw" />
    </Property>

    <Property Id="STEAMDIR">
      <RegistrySearch Id="InstallPathSteam" Root="HKLM" Key="Software\Rockstar Games\GTAV" Name="InstallFolderSteam" Win64="no" Type="raw" />
    </Property>

    <Property Id="GTAFOUND" Value="no"></Property>

    <CustomAction Id="GetGTAFolder" Script="vbscript">
      <![CDATA[         
        valueSteam = Session.Property("STEAMDIR")
        valueRetail = Session.Property("RETAILDIR")
        
        If valueSteam <> "" Then
          If Right(valueSteam, 5) = "\GTAV" Then
            valueSteam = Left(valueSteam, Len(valueSteam) - 5) 
            Session.Property("STEAMDIR") = valueSteam
            
            Session.Property("GTAFOUND") = "yes"  
            Session.Property("INSTALLFOLDER") = valueSteam  
          End If
        Else
          If valueRetail <> "" Then
            Session.Property("GTAFOUND") = "yes"  
            Session.Property("INSTALLFOLDER") = valueRetail  
          End If
        End If
      ]]>
    </CustomAction>

    <Condition Message="You must have Administrator privileges to run this installation.">Privileged</Condition>

    <Condition Message="Grand Theft Auto V was not found on your system, or your installation is corrupt."><![CDATA[(RETAILDIR OR STEAMDIR) OR Installed]]></Condition>
    <!--<Condition Message="References to both the Retail and Steam copies of Grand Theft Auto V were found on your system. You will likely need to reinstall the game."><![CDATA[(RETAILDIR XOR STEAMDIR) OR Installed]]></Condition>-->

    <InstallExecuteSequence>
      <Custom Action="GetGTAFolder" Before="AppSearch">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="Keep Calm" Level="1">
      <ComponentGroupRef Id="Root_Files" />
      <ComponentGroupRef Id="LSPDFRPlugins_Files" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLFOLDER" Name="Grand Theft Auto V">
        <Directory Id="Plugins" Name="Plugins">
          <Directory Id="LSPDFRPlugins" Name="LSPDFR"></Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Root_Files" Directory="INSTALLFOLDER">
      <Component Id="Stealth.Common.dll" Guid="9a74cb4e-1cec-484c-ab02-94c0a32343aa" Permanent="yes">
        <File Id="Stealth.Common.dll" Name="Stealth.Common.dll" Source="$(var.Keep Calm_TargetDir)Stealth.Common.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="LSPDFRPlugins_Files" Directory="LSPDFRPlugins">
      <Component Id="Keep_Calm.dll" Guid="0db75e97-e3a8-4600-afc3-d6cfc7b46def">
        <File Id="Keep_Calm.dll" Name="Keep Calm.dll" Source="$(var.Keep Calm_TargetDir)Keep Calm.dll" />
      </Component>
      <Component Id="Keep_Calm.ini" Guid="0ee895b1-f340-494a-bb8c-8b2f6880934d">
        <File Id="Keep_Calm.ini" Name="Keep Calm.ini" Source="$(var.Keep Calm_TargetDir)Keep Calm.ini" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>